// Monokai Colors
$color-monokai-black: rgba(35, 36, 31, 1) //#23241f
$color-monokai-black-opacity-5: rgba(35, 36, 31, 0.65) //#23241f
$color-monokai-black-opacity-75: rgba(35, 36, 31, 0.8) //#23241f

$color-monokai-white: rgba(248, 248, 242, 1) //#f8f8f2
$color-monokai-white-opacity-5: rgba(248, 248, 242, 0.35) //#f8f8f2
$color-monokai-white-opacity-75: rgba(248, 248, 242, 0.5) //#f8f8f2

$color-monokai-grey: #75715e

$color-monokai-red: #f92672
$color-monokai-orange: #fd9720
$color-monokai-yellow: #e6db74
$color-monokai-green: #a6e22e
$color-monokai-blue: #66d9ef
$color-monokai-purple: #ae81ff



// Sensible Defaults

$border-radius: 5px



// Field Defaults
$field-height: 40px
$field-spacing-y: 4px
$field-spacing-x: 10px
$field-max-width: 20em

// Field Style Diagram
$field-diagram-spacing: 8px