html
	background: $color-monokai-black
	box-sizing: border-box
	color: $color-monokai-black

*, *:before, *:after
	box-sizing: inherit

// PRISM overrides
pre[class*="language-"]
	background: none
	border: solid 1px $color-monokai-yellow
	> code
		tab-size: 2

a
	color: $color-monokai-blue

nav
	a
		margin-right: 8px

.hidden
	display: none

.triangular_background
	left: 0
	min-height: 100%
	position: absolute
	top: 0
	z-index: -1

article
	margin: 0 auto
	padding: 40px
	width: 360px