.component-rectangular-prism
	.viewport
		.rectangular-prism
			.side.front
				p Front
			.side.back
				p Back
			.side.top
				p Top
			.side.bottom
				p Bottom
			.side.cap.left
				p Left
			.side.cap.right
				p Right
