div.field
	div.input_container
		input.checkbox(
			id="checkbox"
			type="checkbox"
			name="checkbox"
			aria-describedby="disclosure_checkbox"
			)
	div.label_container
		label.label(for="checkbox") checkbox

	div.disclosure.hidden#disclosure_checkbox div.disclosure