.viewport
	$viewport-size-x: 200px
	$viewport-size-y: 200px
	margin: (-1 * $viewport-size-y / 2) 0 0 (-1 * $viewport-size-x / 2)
	height: $viewport-size-y
	left: 50%
	overflow: visible
	perspective: 1000px
	position: absolute
	top: 50%
	width: $viewport-size-x

.cube
	color: $color-monokai-black
	height: 100%
	opacity: 1
	transform: rotateX(-25deg) rotateY(-25deg) rotateZ(-1deg)
	transform-style: preserve-3d
	width: 100%

.side
	align-items: center
	border: solid 1px $color-monokai-white
	display: flex
	height: 100%
	justify-content: center
	opacity: 0.5
	position: absolute
	width: 100%

.front
	background: $color-monokai-red
	transform: translateZ(100px)
.back
	background: $color-monokai-blue
	transform: translateZ(-100px) rotateY(-180deg)
.left
	background: $color-monokai-yellow
	transform: translateX(-100px) rotateY(-90deg)
.right
	background: $color-monokai-purple
	transform: translateX(100px) rotateY(90deg)
.top
	background: $color-monokai-orange
	transform: translateY(-100px) rotateX(90deg)
.bottom
	background: $color-monokai-green
	transform: translateY(100px) rotateX(-90deg)