div.component-native-checkbox
	input(
		id="checkbox"
		type="checkbox"
		name="checkbox"
		aria-describedby="disclosure-checkbox"
		)
	span.label-container
		label(for="checkbox") Native Checkbox

	div.disclosure.hidden#disclosure-checkbox div.disclosure