// Monokai Colors
$color-monokai-black: #23241f
$color-monokai-white: #f8f8f2
$color-monokai-grey: #75715e

$color-monokai-red: #f92672
$color-monokai-orange: #fd9720
$color-monokai-yellow: #e6db74
$color-monokai-green: #a6e22e
$color-monokai-blue: #66d9ef
$color-monokai-purple: #ae81ff


// Sensible Defaults

$border-radius: 5px

// Temporary: soon to be deprecated
$field-max-width: 20em

// Field: Unfocused, Unselected State
$field-background: $color-monokai-black
$field-border: solid 1px $color-monokai-white
$field-height: 40px
$field-spacing-y: 16px
$field-spacing-internal-y: 8px
$field-spacing-internal-x: 8px
$field-text-color: $color-monokai-white
$field-transition: background 500ms, box-shadow 100ms

// Field: Focus State
$field-focus-box-shadow: inset 0 0 0 2px $color-monokai-white
$field-focus-outline: none

// Field: Hover State
$field-hover-background: lighten($color-monokai-black, 10%)

// Field: Selected States
$field-selected-background: $color-monokai-white
$field-selected-text-color: $color-monokai-black
$field-selected-hover-background: darken($color-monokai-white, 10%)
$field-selected-focus-box-shadow: inset 0 0 0 1px $color-monokai-white, inset 0 0 0 3px $color-monokai-black
$field-selected-focus-hover-box-shadow: inset 0 0 0 1px darken($color-monokai-white, 10%), inset 0 0 0 3px $color-monokai-black



// // Field Style Diagram: deprecated?
// $field-diagram-spacing: 8px


$field-disclosure-border: solid 1px $color-monokai-orange




// MIXINS

%states-focus-and-hover
	&:focus
		box-shadow: $field-focus-box-shadow
		outline: $field-focus-outline
	&:hover
		background: $field-hover-background

%states-aria-selected
	&[aria-selected="true"]
		background: $field-selected-background
		color: $field-selected-text-color
		&:focus
			box-shadow: $field-selected-focus-box-shadow
			&:hover
				box-shadow: $field-selected-focus-hover-box-shadow
		&:hover
			background: $field-selected-hover-background