extends /templates/pages/basic_html

prepend head
	title aminimalanimal - accessibility - pattern library
	meta(name="description" content="")

block scripts_head
	script(src="/vendor/modernizr/modernizr.js")

block styles_head
	//- Vendor
	link(rel="stylesheet" href="/vendor/normalize.css/normalize.css")
	link(rel="stylesheet" href="/vendor/prism/themes/prism-okaidia.css")

	//- Ours
	link(rel="stylesheet" href="/styles/main.css")


block body
	article
		//- Basic Elements
		include /instances/components/form_elements/input_field
		include /instances/components/form_elements/textarea
		include /instances/components/form_elements/select
		include /instances/components/form_elements/checkbox
		include /instances/components/form_elements/radio_group
		include /instances/components/form_elements/checkbox_group
		include /instances/components/form_elements/range
		include /instances/components/form_elements/button

		//- Nonbasic Elements
		include /instances/components/form_elements/flipswitch
		include /instances/components/form_elements/ratings_widget

		//- Navigation Patterns
		//- include /instances/components/form_elements/tabpanel
		//- include /instances/components/form_elements/mega_menu

		//- Complex Components
		//- include /instances/components/form_elements/carousel
		//- include /instances/components/form_elements/modal
		//- include /instances/components/form_elements/accordion
		//- include /instances/components/form_elements/dropdown


block scripts_footer
	//- Vendor
	//- get jQuery from google's library
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	//- if suceeded in getting jQuery's version, do nothing. Otherwise, use ours.
	script.
		window.jQuery || document.write('<script src="/vendor/jquery/dist/jquery.min.js"><\/script>')

	script(src="/vendor/prism/prism.js")
	script(src="/vendor/prism/components/prism-jade.min.js")
	script(src="/vendor/prism/components/prism-scss.min.js")
	script(src="/vendor/prism/components/prism-coffeescript.min.js")
	script(src="/vendor/trianglify/dist/trianglify.min.js")

	//- Ours
	script(src="/scripts/main.js")