article.basic_forms
	header
		h3 Text field
		p (w/tooltip, disclosure, and error message containers)

	section.section_diagram
		h4 Diagram

		//- svg
		p insert svg here

	section.section_example
		h4 Example

		div.example
			include ../components/sample_text_field

	section.section_code
		h4 Code

		pre: code
			//- :escape-html
			:markdown
				include ../components/sample_text_field