html.no-js(lang="en")

	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		title aminimalanimal - Fluent Presentation
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		script(src="/vendor/modernizr/modernizr.js")

		//- STYLES
		//- Vendor
		link(rel="stylesheet" href="/vendor/normalize.css/normalize.css")

		//- Ours
		link(rel="stylesheet" href="/style.css")


	body.presentation


		//- SCRIPTS
		//- Vendor
		//- get jQuery from google's library
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		//- if succeeded in getting jQuery's version, do nothing. Otherwise, use ours.
		script.
			window.jQuery || document.write('<script src="/vendor/jquery/dist/jquery.min.js"><\/script>')

		script(src="/vendor/remark.min.js")

		script.
			'use strict';

			var slideshow = remark.create({
				sourceUrl: './assets/fluent.md'
			});

		//- script(src="/vendor/prism/prism.js")
		//- script(src="/vendor/prism/components/prism-jade.min.js")
		//- script(src="/vendor/prism/components/prism-scss.min.js")
		//- script(src="/vendor/prism/components/prism-coffeescript.min.js")

		//- Ours
		//- script(src="/scripts/main.js")