extends /templates/pages/basic_html

prepend head
	title aminimalanimal - accessibility - pattern library
	meta(name="description" content="")

block scripts_head
	script(src="/vendor/modernizr/modernizr.js")

block styles_head
	//- Vendor
	link(rel="stylesheet" href="/vendor/normalize.css/normalize.css")
	link(rel="stylesheet" href="/vendor/prism/themes/prism-okaidia.css")

	//- Ours
	link(rel="stylesheet" href="/style.css")


block body
	article
		h1 Pattern Library - early drafts
		p I'm still in the process of making design decisions and altering the architecture of this site, so right now, we're left solely with some basic, (but properly coded) elements:
		//- Basic Elements
		include /instances/components/form_elements/input_field/z
		include /instances/components/form_elements/textarea/z
		include /instances/components/form_elements/select/z
		include /instances/components/form_elements/checkbox/z
		include /instances/components/form_elements/radio_group/z
		include /instances/components/form_elements/checkbox_group/z
		include /instances/components/form_elements/range/z
		include /instances/components/form_elements/button/z

		//- Nonbasic Elements
		//- include /instances/components/form_elements/flipswitch/z
		//- include /instances/components/form_elements/ratings_widget/z

		//- Navigation Patterns
		//- include /instances/components/form_elements/tabpanel/z
		//- include /instances/components/form_elements/mega_menu/z

		//- Complex Components
		//- include /instances/components/form_elements/carousel/z
		//- include /instances/components/form_elements/modal/z
		//- include /instances/components/form_elements/accordion/z
		//- include /instances/components/form_elements/dropdown/z


block scripts_footer
	//- Vendor
	//- get jQuery from google's library
	//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	//- //- if suceeded in getting jQuery's version, do nothing. Otherwise, use ours.
	//- script.
	//- 	window.jQuery || document.write('<script src="/vendor/jquery/dist/jquery.min.js"><\/script>')

	//- script(src="/vendor/prism/prism.js")
	//- script(src="/vendor/prism/components/prism-jade.min.js")
	//- script(src="/vendor/prism/components/prism-scss.min.js")
	//- script(src="/vendor/prism/components/prism-coffeescript.min.js")
	//- script(src="/vendor/trianglify/dist/trianglify.min.js")

	//- //- Ours
	//- script(src="/script.js")