div.component-native-select
	div.label-container
		label.label(for="select") Native Select
	div.input-container
		select(
			id="select"
			name="select"
			)
			option(selected) default
			option option 1
			option option 2
			option option 3
			option option 4
			option option 5
			option option 6
			option option 7
			option option 8
			option option 9
			option option 10
			option option 11
			option option 12
			option option 13
			option option 14
			option option 15