div.component-input-field
	div.label-container
		label.label(for="input") Input Field
	div.input-container
		input.input(
			id="input"
			type="text"
			name="text"
			aria-describedby="disclosure"
			)
	div.disclosure.hidden#disclosure div.disclosure