div.component-textarea
	div.label-container
		label.label(for="textarea") Textarea
	div.input-container
		textarea.input(
			id="textarea"
			name="textarea"
			aria-describedby="disclosure-textarea"
			)
	div.disclosure.hidden#disclosure-textarea div.disclosure